<!DOCTYPE html>
<html>
<head>
    <title>Auth confirm</title>
</head>
<body style="margin: 0; padding: 0;">
    <table cellspacing="0" cellpadding="0" style="width: 100%;">
        <tr>
            <td style="background-color: #f2f2f2; padding: 50px 20px;">
                <table cellspacing="0" cellpadding="0" style="background-color: white; box-shadow: 0 2px 8px 0 rgba(202, 202, 202, 0.5); font-family: sans-serif; font-size: 16px; margin: 0 auto; max-width: 600px; width: 100%;">
                    <!-- Header Begin -->
                    <tr style="background-color: #2196f3;">
                        <td style="padding: 40px 20px;">
                            <p style="margin: 0 0 35px; font-size: 20px; font-weight: 500; text-align: center; color: white;">Welcome to Your own tracking system!</p>
                            <p style="margin: 0; font-size: 30px; font-weight: 500; text-align: center; color: #005baf;">Hi, {NAME}</p>
                        </td>
                    </tr>
                    <!-- Header End -->
                    <!-- Contend Begin -->
                    <tr>
                        <td style="padding: 40px;">
                            <p style="margin: 0; font-size: 14px; font-weight: 500; text-align: center; color: #2196f3;">Thank you for creating an account</p>
                            <a href="{LINK}" style="max-width: 280px; margin: 35px auto 55px; background-color: #2196f3; border-radius: 2px; color: white; display: block; font-size: 12px; font-weight: 500; padding: 9px; text-align: center; text-decoration: none;">
                                Click to verify your email address
                            </a>
                        </td>
                    </tr>
                    <!-- Content End -->
                </table>
            </td>
        </tr>
    </table>
</body>
</html>